html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #083449;
}

#navbar {
    border-bottom: 2px solid #e3e3e3;
}

#logo-nav {
    font-family: 'Excon', sans-serif;
    color: #e3e3e3;
    font-weight: 200;
    transition: all 500ms ease;
}

#logo-nav:hover{
    transform: translateX(20px);
    filter: drop-shadow(3px 3px 10px #e3e3e3);
}

#icon-nav {
    cursor: pointer;
    transition: all 400ms ease;
}

#icon-nav:hover {
    scale: 1.2;
    filter: drop-shadow(3px 3px 10px rgb(75, 174, 220));
}

a {
    color: #e3e3e3;
}

a:hover {
    text-decoration: none;
    color: #e3e3e3;
}

h1 {
    color: #e3e3e3;
}

#container {
    transition: all 250ms ease;
}

#container:hover {
    scale: 1.03;
    filter: drop-shadow(3px 3px 17px #1884b6);
}

#username {
    font-weight: 600;
    color: #0d7091;
    font-style: italic;
}

#titulo {
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
}

#data{
    font-weight: 600;
    color: #0d7091;
    font-style: italic;
    text-wrap: balance;
}